<div class="container page-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Hey Devan, what would you like to do?</h1>
    </div>
  </div>
  <div class="container well">
    <div class="row">
      <h3 class="text-center">Learn</h3>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "Start a Deck", decks_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row second-button-row">
      <div class="col-md-12 text-center">
        <%= link_to "Build a New Deck", new_deck_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <div class="container well">
    <div class="row">
      <h3 class="text-center">Exercise</h3>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "1 Minute Workout", random_quick_workout_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row second-button-row">
      <div class="col-md-12 text-center">
        5 Minute Workout
      </div>
    </div>
  </div>
</div>
