<div class="container page-container">
  <div class="row">
    <div class="col-md-12 welcome-note">
      <p class="letter-text"><%= fa_icon("heart") %>Devan <%= fa_icon("heart") %></p>
      <p class="letter-text-new-line">It's almost 1:30am on December 10th.  I wrote this app on Thanksgiving but am just now
      getting around to building your initial flashcards and workouts.  Right now you're working out of Square One because the
      internet isn't working in the apartment.  That sucks.  And I'm having trouble getting to the point, which is actually probably
      in and of itself part of the point... that sometimes I'm not great at expressing myself, my feelings, my thoughts.  That sometimes
      I come off as cold, unattached, and distant.  I'd say I'm sorry, but one of the reasons that I enjoy you is because at least so far,
      you accept me for who I am.  I don't have to explain myself.  Because of this, you make me want to do better.  To be better for you.
      It's great reverse psychology, if that's what you're doing.  Anyway, please know that I care.  That I want nothing more than for you
      to reach the top of the your internal self-actualization pyramid.  I don't know exactly what that looks like for you, and honestly, it doesn't
      matter to me whether it means selling Backyard Lion for millions of dollars or going back to Europe or living amongst the
      wilderness in Alaska.  All I care about is that you have the opportunity.  I hope I can help you, I hope that I fit in somehow, but
      at the end of the day, I don't want to hold you back because I see so much potential.  What I'm trying to say is that I'm here to support you,
      to push you, to help you as long as you want me to.  I hope that is a long time.  I can't think of anyone else I'd rather be working beside,
      sleeping beside, running in the freezing cold beside, cooking not so great Crock pot meals beside, and enjoying this life beside.
      I've never really known or understood what it feels like to be with your best friend, but I do now.  <br /><br />Thank you, Merry Christmas, and even if you don't use
      this at all.... well actually, sucks for you because I have programmed in some automated e-mails that don't have an unsubscribe button so
      I guess you're stuck unless you figure out how to login to the server, run the console and turn them off....
        <br /><br />
      <%= fa_icon("heart") %> Julie </p><br /><br />
      <p class="letter-text-new-line">P.S., ready to check it out? </p>
      <%= link_to "Control Center", control_center_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
</div>