<div class="container page-container">
  <div class="row">
    <div class="col-md-12 welcome-note">
      <p class="letter-text"><%= fa_icon("heart") %>Devan <%= fa_icon("heart") %></p>
      <p class="letter-text-new-line">It's almost 1:30am on December 10th.  I wrote this app on Thanksgiving but am just now
      getting around to building your initial flashcards and workouts.  Right now you're working out of Square One because the
      internet isn't working in the apartment.  That sucks.  Anyway, I can't think of anyone else I'd rather be working beside,
      sleeping beside, running in the freezing cold beside, cooking not so great Crock pot meals beside, and enjoying this life beside.
      I've never really known or understood what it feels like to be with your best friend, but I do now.  <br /><br />Thank you, Merry Christmas, and even if you don't use
      this at all.... well actually, sucks for you because I have programmed in some automated e-mails that don't have an unsubscribe button so
      I guess you're stuck unless you figure out how to login to the server, run the console and turn them off....
        <br /><br />
      <%= fa_icon("heart") %> Julie </p><br /><br />
      <p class="letter-text-new-line">P.S., ready to check it out? </p>
      <%= link_to "Control Center", control_center_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
</div>